accelerate==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
debugpy
decorator
exceptiongroup
executing
filelock==3.18.0
fonttools==4.58.5
fsspec==2025.7.0
huggingface-hub==0.33.4
idna==3.10
ipykernel
ipython
jedi
Jinja2==3.1.4
joblib==1.5.1
jupyter_client
jupyter_core
kiwisolver==1.4.8
llvmlite==0.44.0
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline
mpmath==1.3.0
nest_asyncio
networkx==3.3
numba==0.61.2
numpy==2.2.6
nvidia-ml-py==12.575.51
nvitop==1.5.1
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.0
parso
peft==0.16.0
pickleshare
pillow==11.0.0
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pynndescent==0.5.13
pyparsing==3.2.3
python-dateutil
pytz==2025.2
pywin32
PyYAML==6.0.2
pyzmq
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
six
stack_data
sympy==1.13.3
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1+cu128
torchaudio==2.7.1+cu128
torchvision==0.22.1+cu128
tornado
tqdm==4.67.1
traitlets
transformers==4.53.2
typing_extensions
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==2.5.0
wcwidth
windows-curses==2.4.1
zipp
